<!-- =======================
Cookies alert START -->
<div class="alert alert-light alert-dismissible fade show position-fixed bottom-0 start-50 translate-middle-x z-index-99 d-lg-flex justify-content-between align-items-center shadow p-4 col-9 col-md-5" role="alert">
	<p class="m-0 pe-3">This website stores cookies on your computer. To find out more about the cookies we use, see our <a class="text-reset" href="#"> <u>Privacy Policy</u></a></p>
	<div class="d-flex mt-3 mt-lg-0">
		<button type="button" class="btn btn-success-soft btn-sm mb-0 me-2" data-bs-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">Accept</span>
		</button>
		<button type="button" class="btn btn-danger-soft btn-sm mb-0" data-bs-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">Decline</span>
		</button>
	</div>
</div>
<!-- =======================
Cookies alert END -->