
<!-- **************** MAIN CONTENT START **************** -->
<main class="spilt-content">

  <!-- =======================
  Main content START -->
  <section class="card-grid pt-0 pb-0">
    <div class="container-fluid ps-lg-0">
      <div class="spilt-fixed bg-primary bg-opacity-10 vh-100 p-2 p-sm-5 text-center">
        <!-- Author profile image -->
        <img src="assets/images/avatar/big/01.jpg" alt="">
        <!-- Author profile info -->
        <div class="p-2 p-sm-4">
          <h2 class="m-0 h1">Louis Ferguson</h2>
          <small>Blogger | Author | A father | Influencer</small>
          <p class="my-2">Louis Ferguson is a senior editor for the blogzine and also reports on breaking news based in London.</p>
          <!-- Social START -->
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link px-2 fs-5" href="#"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2 fs-5" href="#"><i class="fab fa-twitter-square"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2 fs-5" href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2 fs-5" href="#"><i class="fab fa-youtube-square"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link ps-2 pe-0 fs-5" href="#"><i class="fab fa-vimeo"></i></a>
            </li>
          </ul>
          <!-- Social END -->
        </div>
      </div>
      <div class="py-5">
        <div class="row g-4">
          <div class="col-sm-6 col-xxl-4">
            <!-- Card item START -->
            <div class="card text-center">
              <!-- Card img -->
              <div class="position-relative">
                <img class="card-img rounded-0" src="assets/images/blog/4by3/07.jpg" alt="Card image">
                <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                  <!-- Card overlay Top -->
                  <div class="w-100 mb-auto d-flex justify-content-end">
                    <div class="text-end ms-auto">
                      <!-- Card format icon -->
                      <div class="icon-md bg-white bg-opacity-10 bg-blur text-white fw-bold rounded-circle" title="8.5 rating">8.5</div>
                    </div>
                  </div>
                  <!-- Card overlay bottom -->
                  <div class="w-100 mt-auto">
                    <a href="#" class="badge text-bg-info mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Marketing</a>
                  </div>
                </div>
              </div>
              <div class="card-body px-0 pt-3">
                <!-- Card info -->
                <ul class="nav nav-divider align-items-center d-none d-sm-inline-block mb-3">
                  <li class="nav-item">Mar 07, 2022</li>
                  <li class="nav-item">5 min read</li>
                </ul>
                <!-- Card Title -->
                <h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset fw-bold">7 common mistakes everyone makes</a></h5>
                <!-- Card short dec -->
                <p>Called isn't green male Beginning day behold gathering day earth Very hath shall.</p>
              </div>
            </div>
            <!-- Card item END -->
          </div>
          <div class="col-sm-6 col-xxl-4">
            <!-- Card item START -->
            <div class="card text-center">
              <!-- Card img -->
              <div class="position-relative">
                <img class="card-img rounded-0" src="assets/images/blog/4by3/08.jpg" alt="Card image">
                <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                  <!-- Card overlay bottom -->
                  <div class="w-100 mt-auto">
                    <a href="#" class="badge text-bg-danger mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Sports</a>
                  </div>
                </div>
              </div>
              <div class="card-body px-0 pt-3">
                <!-- Card info -->
                <ul class="nav nav-divider align-items-center d-none d-sm-inline-block mb-3">
                  <li class="nav-item">Aug 28, 2022</li>
                  <li class="nav-item">10 min read</li>
                </ul>
                <!-- Card Title -->
                <h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset fw-bold">Skills that you can learn from business</a></h5>
                <!-- Card short dec -->
                <p>Dry that darkness meat unto Thing spirit his fifth likeness divided also seed lesser.</p>
              </div>
            </div>
            <!-- Card item END -->
          </div>
          <div class="col-sm-6 col-xxl-4">
            <!-- Card item START -->
            <div class="card text-center">
              <!-- Card img -->
              <div class="position-relative">
                <img class="card-img rounded-0" src="assets/images/blog/4by3/09.jpg" alt="Card image">
                <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                  <!-- Card overlay bottom -->
                  <div class="w-100 mt-auto">
                    <a href="#" class="badge text-bg-success mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Marketing</a>
                  </div>
                </div>
              </div>
              <div class="card-body px-0 pt-3">
                <!-- Card info -->
                <ul class="nav nav-divider align-items-center d-none d-sm-inline-block mb-3">
                  <li class="nav-item">Jun 01, 2022</li>
                  <li class="nav-item">6 min read</li>
                </ul>
                <!-- Card Title -->
                <h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset fw-bold">15 reasons to choose startup</a></h5>
                <!-- Card short dec -->
                <p>Green male Beginning day behold gathering day earth Very hath shall very abundantly.</p>
              </div>
            </div>
            <!-- Card item END -->
          </div>
          <div class="col-sm-6 col-xxl-4">
            <!-- Card item START -->
            <div class="card text-center">
              <!-- Card img -->
              <div class="position-relative">
                <img class="card-img rounded-0" src="assets/images/blog/4by3/10.jpg" alt="Card image">
                <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                  <!-- Card overlay Top -->
                  <div class="w-100 mb-auto d-flex justify-content-end">
                    <div class="text-end ms-auto">
                      <!-- Card format icon -->
                      <div class="icon-md bg-white bg-opacity-10 bg-blur text-white fw-bold rounded-circle" title="8.5 rating">8.5</div>
                    </div>
                  </div>
                  <!-- Card overlay bottom -->
                  <div class="w-100 mt-auto">
                    <a href="#" class="badge text-bg-info mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Marketing</a>
                  </div>
                </div>
              </div>
              <div class="card-body px-0 pt-3">
                <!-- Card info -->
                <ul class="nav nav-divider align-items-center d-none d-sm-inline-block mb-3">
                  <li class="nav-item">Dec 29, 2022</li>
                  <li class="nav-item">5 min read</li>
                </ul>
                <!-- Card Title -->
                <h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset fw-bold">The pros and cons of business agency</a></h5>
                <!-- Card short dec -->
                <p>Coved night own was said Likeness evening Dominion i our Great blessed and hath.</p>
              </div>
            </div>
            <!-- Card item END -->
          </div>
          <div class="col-sm-6 col-xxl-4">
            <!-- Card item START -->
            <div class="card text-center">
              <!-- Card img -->
              <div class="position-relative">
                <img class="card-img rounded-0" src="assets/images/blog/4by3/11.jpg" alt="Card image">
                <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                  <!-- Card overlay bottom -->
                  <div class="w-100 mt-auto">
                    <a href="#" class="badge text-bg-danger mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Sports</a>
                  </div>
                </div>
              </div>
              <div class="card-body px-0 pt-3">
                <!-- Card info -->
                <ul class="nav nav-divider align-items-center d-none d-sm-inline-block mb-3">
                  <li class="nav-item">Aug 15, 2022</li>
                  <li class="nav-item">10 min read</li>
                </ul>
                <!-- Card Title -->
                <h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset fw-bold">5 reasons why you shouldn't startup</a></h5>
                <!-- Card short dec -->
                <p>Beginning day behold gathering day earth Very hath shall very abundantly face midst.</p>
              </div>
            </div>
            <!-- Card item END -->
          </div>
          <div class="col-sm-6 col-xxl-4">
            <!-- Card item START -->
              <div class="card text-center">
                <!-- Card img -->
                <div class="position-relative">
                  <img class="card-img rounded-0" src="assets/images/blog/4by3/12.jpg" alt="Card image">
                  <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                    <!-- Card overlay bottom -->
                    <div class="w-100 mt-auto">
                      <a href="#" class="badge text-bg-success mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Marketing</a>
                    </div>
                  </div>
                </div>
                <div class="card-body px-0 pt-3">
                  <!-- Card info -->
                  <ul class="nav nav-divider align-items-center d-none d-sm-inline-block mb-3">
                    <li class="nav-item">Feb 14, 2022</li>
                    <li class="nav-item">30 min read</li>
                  </ul>
                  <!-- Card Title -->
                  <h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset fw-bold">Five unbelievable facts about money.</a></h5>
                  <!-- Card short dec -->
                  <p>Subdue Made beast their life moving heaven heaven divide two sea female great.</p>
                </div>
              </div>
              <!-- Card item END -->
          </div>
          <div class="col-12">
            <a href="#" class="d-block card-img-flash">
              <img src="assets/images/adv-3.png" alt="">
            </a>
            <small class="text-end d-block mt-1">Advertisement</small>
          </div>
          <div class="col-sm-6 col-xxl-4">
            <!-- Card item START -->
            <div class="card text-center">
              <!-- Card img -->
              <div class="position-relative">
                <img class="card-img rounded-0" src="assets/images/blog/4by3/13.jpg" alt="Card image">
                <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                  <!-- Card overlay Top -->
                  <div class="w-100 mb-auto d-flex justify-content-end">
                    <div class="text-end ms-auto">
                      <!-- Card format icon -->
                      <div class="icon-md bg-white bg-opacity-10 bg-blur text-white fw-bold rounded-circle" title="8.5 rating">8.5</div>
                    </div>
                  </div>
                  <!-- Card overlay bottom -->
                  <div class="w-100 mt-auto">
                    <a href="#" class="badge text-bg-info mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Marketing</a>
                  </div>
                </div>
              </div>
              <div class="card-body px-0 pt-3">
                <!-- Card info -->
                <ul class="nav nav-divider align-items-center d-none d-sm-inline-block mb-3">
                  <li class="nav-item">Apr 02, 2022</li>
                  <li class="nav-item">26 min read</li>
                </ul>
                <!-- Card Title -->
                <h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset fw-bold">Ten questions you should answer truthfully.</a></h5>
                <!-- Card short dec -->
                <p>Bring over fruit don't morning unto Don't can't air Shall fruit life made fly.</p>
              </div>
            </div>
            <!-- Card item END -->
          </div>
          <div class="col-sm-6 col-xxl-4">
            <!-- Card item START -->
            <div class="card text-center">
              <!-- Card img -->
              <div class="position-relative">
                <img class="card-img rounded-0" src="assets/images/blog/4by3/14.jpg" alt="Card image">
                <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                  <!-- Card overlay bottom -->
                  <div class="w-100 mt-auto">
                    <a href="#" class="badge text-bg-danger mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Sports</a>
                  </div>
                </div>
              </div>
              <div class="card-body px-0 pt-3">
                <!-- Card info -->
                <ul class="nav nav-divider align-items-center d-none d-sm-inline-block mb-3">
                  <li class="nav-item">Jan 24, 2022</li>
                  <li class="nav-item">08 min read</li>
                </ul>
                <!-- Card Title -->
                <h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset fw-bold">Best Pinterest boards for learning about business.</a></h5>
                <!-- Card short dec -->
                <p>Lights made wherein beginning subdue called isn't green male Beginning day behold.</p>
              </div>
            </div>
            <!-- Card item END -->
          </div>
          <div class="col-sm-6 col-xxl-4">
            <!-- Card item START -->
            <div class="card text-center">
              <!-- Card img -->
              <div class="position-relative">
                <img class="card-img rounded-0" src="assets/images/blog/4by3/15.jpg" alt="Card image">
                <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                  <!-- Card overlay bottom -->
                  <div class="w-100 mt-auto">
                    <a href="#" class="badge text-bg-success mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Marketing</a>
                  </div>
                </div>
              </div>
              <div class="card-body px-0 pt-3">
                <!-- Card info -->
                <ul class="nav nav-divider align-items-center d-none d-sm-inline-block mb-3">
                  <li class="nav-item">Jun 23, 2022</li>
                  <li class="nav-item">30 min read</li>
                </ul>
                <!-- Card Title -->
                <h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset fw-bold">10 tell-tale signs you need to get a new business</a></h5>
                <!-- Card short dec -->
                <p>To don't may give void forth created fruitful bearing creepeth fish god.</p>
              </div>
            </div>
            <!-- Card item END -->
          </div>
          <div class="col-12">
            <!-- Pagination START -->
            <nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
              <ul class="pagination flex-wrap justify-content-center pagination-bordered mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prev</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">..</a></li>
                <li class="page-item"><a class="page-link" href="#">15</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
            <!-- Pagination END -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- =======================
  Main content END -->

</main>