<!-- =======================
Main content 2 START -->
<section class="position-relative">
	<div class="container" data-sticky-container>
		<div class="row">
			<!-- Main Post START -->
			<div class="col-lg-9">
				<!-- Entertainment START -->
				<div class="row">
					<div class="col-12 mb-3">	
						<h2 class="m-0"><i class="bi bi-hand-index-thumb me-2"></i>Entertainment</h2>
						<p>Checkout the hand pick post by admin</p>
					</div>
					<div class="col-md-6">
						<!-- Card item big START -->
						<div class="card mb-4">
							<div class="card-body p-4 border rounded-3">
								<div class="d-flex justify-content-between mb-2">
									<a href="#" class="badge text-bg-danger"><i class="fas fa-circle me-2 small fw-bold"></i>Technology</a>
									<a href="#!" class="text-body" tabindex="0" role="button" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="You're seeing this ad because your activity meets the intended audience of our site.">
										<i class="bi bi-info-circle pe-1"></i> Sponsored
									</a>
								</div>	
								<h4 class="card-title"><a href="post-single-3.html" class="btn-link text-reset fw-bold">12 worst types of business accounts you follow on Twitter</a></h4>
								<p class="card-text">He moonlights difficult engrossed it, sportsmen. Interested has all Devonshire difficulty.</p>
								<!-- Card info -->
								<ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
									<li class="nav-item">
										<div class="nav-link">
											<div class="d-flex align-items-center position-relative">
												<div class="avatar avatar-xs">
													<img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="avatar">
												</div>
												<span class="ms-3">by <a href="#" class="stretched-link text-reset btn-link">Samuel</a></span>
											</div>
										</div>
									</li>
									<li class="nav-item">Jan 22, 2022</li>
								</ul>
							</div>
						</div>
						<!-- Card item big END -->
						<!-- Card item big START -->
						<div class="card mb-4">
							<div class="card-body p-4 border rounded-3">	
								<div class="d-flex justify-content-between mb-2">
									<a href="#" class="badge bg-primary mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Travel</a>
									<a href="#!" class="text-body" tabindex="0" role="button" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="You're seeing this ad because your activity meets the intended audience of our site.">
										<i class="bi bi-info-circle pe-1"></i> Sponsored
									</a>
								</div>
								<h4 class="card-title"><a href="post-single-3.html" class="btn-link text-reset fw-bold">Never underestimate the influence of social media</a></h4>
								<p class="card-text">He moonlights difficult engrossed it, sportsmen. Interested has all Devonshire difficulty.</p>
								<!-- Card info -->
								<ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
									<li class="nav-item">
										<div class="nav-link">
											<div class="d-flex align-items-center position-relative">
												<div class="avatar avatar-xs">
													<img class="avatar-img rounded-circle" src="assets/images/avatar/13.jpg" alt="avatar">
												</div>
												<span class="ms-3">by <a href="#" class="stretched-link text-reset btn-link">Larry</a></span>
											</div>
										</div>
									</li>
									<li class="nav-item">Mar 28, 2022</li>
								</ul>
							</div>
						</div>
						<!-- Card item big END -->
					</div>
					<div class="col-md-6">
						<!-- Card item START -->
						<div class="card mb-1">
							<div class="card-body px-0 border-bottom">
								<a href="#" class="badge text-bg-info mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Covid-19</a>
								<h5><a href="post-single-3.html" class="btn-link stretched-link text-reset">Five unbelievable facts about money.</a></h5>
								<!-- Card info -->
								<ul class="nav nav-divider align-items-center d-none d-sm-inline-block small">
									<li class="nav-item">
										<div class="nav-link">
											<div class="d-flex align-items-center position-relative">
												<div class="avatar avatar-xs">
													<img class="avatar-img rounded-circle" src="assets/images/avatar/05.jpg" alt="avatar">
												</div>
												<span class="ms-3">by <a href="#" class="stretched-link text-reset btn-link">Bryan</a></span>
											</div>
										</div>
									</li>
									<li class="nav-item">Jun 17, 2022</li>
								</ul>
							</div>
						</div>
						<!-- Card item END -->
						<!-- Card item START -->
						<div class="card mb-1">
							<div class="card-body px-0 border-bottom">
								<a href="#" class="badge bg-dark mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Technology</a>
								<h5><a href="post-single-3.html" class="btn-link stretched-link text-reset">Around the web: 20 fabulous infographics about business</a></h5>
								<!-- Card info -->
								<ul class="nav nav-divider align-items-center d-none d-sm-inline-block small">
									<li class="nav-item">
										<div class="nav-link">
											<div class="d-flex align-items-center position-relative">
												<div class="avatar avatar-xs">
													<img class="avatar-img rounded-circle" src="assets/images/avatar/12.jpg" alt="avatar">
												</div>
												<span class="ms-3">by <a href="#" class="stretched-link text-reset btn-link">Jacqueline</a></span>
											</div>
										</div>
									</li>
									<li class="nav-item">Oct 11, 2022</li>
								</ul>
							</div>
						</div>
						<!-- Card item END -->
						<!-- Card item START -->
						<div class="card mb-1">
							<div class="card-body px-0 border-bottom">
								<a href="#" class="badge text-bg-warning mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Marketing</a>
								<h5><a href="post-single-3.html" class="btn-link stretched-link text-reset">7 common mistakes everyone makes while traveling</a></h5>
								<!-- Card info -->
								<ul class="nav nav-divider align-items-center d-none d-sm-inline-block small">
									<li class="nav-item">
										<div class="nav-link">
											<div class="d-flex align-items-center position-relative">
												<div class="avatar avatar-xs">
													<img class="avatar-img rounded-circle" src="assets/images/avatar/06.jpg" alt="avatar">
												</div>
												<span class="ms-3">by <a href="#" class="stretched-link text-reset btn-link">Samuel</a></span>
											</div>
										</div>
									</li>
									<li class="nav-item">Jul 22, 2022</li>
								</ul>
							</div>
						</div>
						<!-- Card item END -->
						<!-- Card item START -->
						<div class="card mb-1">
							<div class="card-body px-0">
								<!-- Audio START -->
								<div class="bg-light rounded">
									<audio class="player-audio" crossorigin>
										<source src="assets/images/videos/audio.mp3" type="audio/mp3">
									</audio>
								</div>
								<!-- Audio END -->
								<h5 class="mt-3"><a href="post-single-3.html" class="btn-link text-reset">Skills that you can learn from business</a></h5>
								<!-- Card info -->
								<ul class="nav nav-divider align-items-center d-none d-sm-inline-block small">
									<li class="nav-item">
										<div class="nav-link">
											<div class="d-flex align-items-center position-relative">
												<div class="avatar avatar-xs">
													<img class="avatar-img rounded-circle" src="assets/images/avatar/07.jpg" alt="avatar">
												</div>
												<span class="ms-3">by <a href="#" class="text-reset btn-link">Judy</a></span>
											</div>
										</div>
									</li>
									<li class="nav-item">Sep 30, 2022</li>
								</ul>
							</div>
						</div>
						<!-- Card item END -->
					</div>
				</div>
				<!-- Entertainment END -->

				<!-- Podcast slide START -->
				<div class="row">
					<div class="col-12 my-3">	
						<h2 class="m-0"><i class="bi bi-mic me-2"></i>Latest Podcasts</h2>
						<p>Listen and Learn: The best educational podcasts</p>
					</div>
					<div class="col-12">	
						<div class="tiny-slider arrow-dark arrow-hover arrow-round rounded-3">
							<div class="tiny-slider-inner"
							data-autoplay="true"
							data-hoverpause="true"
							data-gutter="24"
							data-arrow="true"
							data-dots="false"
							data-items-xl="3"
							data-items-lg="2" 
							data-items-md="2" 
							data-items-sm="1" 
							data-items-xs="1">
								<!-- Card item START -->
								<div>
									<div class="card card-fold bg-light">
										<div class="card-body p-4">
											<ul class="nav nav-divider align-items-center d-none d-sm-inline-block small mb-2">
												<li class="nav-item"><i class="bi bi-clock-history"></i> 56:36</li>
												<li class="nav-item">With <a href="#">Larry Lawson</a> </li>
											</ul>
											<h4 class="card-title"><a href="post-single-6.html" class="stretched-link text-reset">The 15 reasons clients love Bootstrap</a></h4>
											<p class="m-0">Rooms oh fully taken by worse do points afraid</p>
										</div>
										<img src="assets/images/blog/16by9/small/04.jpg" class="card-img-bottom" alt="Card image">
									</div>
								</div>
								<!-- Card item END -->
								<!-- Card item START -->
								<div>
									<div class="card card-fold bg-light">
										<div class="card-body p-4">
											<ul class="nav nav-divider align-items-center d-none d-sm-inline-block small mb-2">
												<li class="nav-item"><i class="bi bi-clock-history"></i> 26:15</li>
												<li class="nav-item">With <a href="#">Amanda Reed</a> </li>
											</ul>
											<h4 class="card-title"><a href="post-single-6.html" class="stretched-link text-reset">Five unbelievable facts about money </a></h4>
											<p class="m-0">Luckily cheered colonel I do we attack highest enabled</p>
										</div>
										<img src="assets/images/blog/16by9/small/01.jpg" class="card-img-bottom" alt="Card image">
									</div>
								</div>
								<!-- Card item END -->
								<!-- Card item START -->
								<div>
									<div class="card card-fold bg-light">
										<div class="card-body p-4">
											<ul class="nav nav-divider align-items-center d-none d-sm-inline-block small mb-2">
												<li class="nav-item"><i class="bi bi-clock-history"></i> 1:05:20</li>
												<li class="nav-item">With <a href="#">Judy Nguyen</a> </li>
											</ul>
											<h4 class="card-title"><a href="post-single-6.html" class="stretched-link text-reset">This is why Bootstrap is famous</a></h4>
											<p class="m-0">The furnished she concluded depending procuring concealed </p>
										</div>
										<img src="assets/images/blog/16by9/small/02.jpg" class="card-img-bottom" alt="Card image">
									</div>
								</div>
								<!-- Card item END -->
								<!-- Card item START -->
								<div>
									<div class="card card-fold bg-light">
										<div class="card-body p-4">
											<ul class="nav nav-divider align-items-center d-none d-sm-inline-block small mb-2">
												<li class="nav-item"><i class="bi bi-clock-history"></i> 45:16</li>
												<li class="nav-item">With <a href="#">Bryan Knight</a> </li>
											</ul>
											<h4 class="card-title"><a href="post-single-6.html" class="stretched-link text-reset">10 common myths about startups</a></h4>
											<p class="m-0">Express besides it present if at an opinion visitor.</p>
										</div>
										<img src="assets/images/blog/16by9/small/03.jpg" class="card-img-bottom" alt="Card image">
									</div>
								</div>
								<!-- Card item END -->
							</div>
						</div>
					</div>
				</div>
				<!-- Podcast slide END -->
			</div>
			<!-- Main Post END -->

			<!-- Sidebar 2 START -->
			<div class="col-lg-3 mt-5 mt-lg-0">
				<div data-sticky data-margin-top="80" data-sticky-for="767">
					<div>
						<h4>Recomended</h4>
						<div class="tiny-slider dots-dark mt-3 mb-5">
							<div class="tiny-slider-inner"
								data-autoplay="true"
								data-hoverpause="true"
								data-gutter="0"
								data-arrow="false"
								data-dots="true"
								data-items="1">
								<!-- Card item START -->
								<div class="card">
									<!-- Card img -->
									<div class="position-relative">
										<img class="card-img" src="assets/images/blog/4by3/07.jpg" alt="Card image">
										<div class="card-img-overlay d-flex align-items-start flex-column p-3">
											<!-- Card overlay Top -->
											<div class="w-100 mb-auto d-flex justify-content-end">
												<div class="text-end ms-auto">
													<!-- Card format icon -->
													<div class="icon-md bg-white bg-opacity-10 bg-blur text-white fw-bold rounded-circle" title="8.5 rating">8.5</div>
												</div>
											</div>
											<!-- Card overlay bottom -->
											<div class="w-100 mt-auto">
												<a href="#" class="badge text-bg-info mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Marketing</a>
											</div>
										</div>
									</div>
									<div class="card-body p-0 pt-3">
										<h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset fw-bold">7 common mistakes everyone makes while traveling</a></h5>
									</div>
								</div>
								<!-- Card item END -->
								<!-- Card item START -->
								<div class="card">
									<!-- Card img -->
									<div class="position-relative">
										<img class="card-img" src="assets/images/blog/4by3/08.jpg" alt="Card image">
										<div class="card-img-overlay d-flex align-items-start flex-column p-3">
											<!-- Card overlay bottom -->
											<div class="w-100 mt-auto">
												<a href="#" class="badge text-bg-danger mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Sports</a>
											</div>
										</div>
									</div>
									<div class="card-body p-0 pt-3">
										<h5 class="card-title"><a href="post-single-3.html" class="stretched-link btn-link text-reset fw-bold">Skills that you can learn from business</a></h5>
									</div>
								</div>
								<!-- Card item END -->
								<!-- Card item START -->
								<div class="card">
									<!-- Card img -->
									<div class="position-relative">
										<img class="card-img" src="assets/images/blog/4by3/09.jpg" alt="Card image">
										<div class="card-img-overlay d-flex align-items-start flex-column p-3">
											<!-- Card overlay bottom -->
											<div class="w-100 mt-auto">
												<a href="#" class="badge text-bg-success mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Marketing</a>
											</div>
										</div>
									</div>
									<div class="card-body p-0 pt-3">
										<h5 class="card-title"><a href="post-single-3.html" class="btn-link text-reset fw-bold">10 tell-tale signs you need to get a new business</a></h5>
									</div>
								</div>
								<!-- Card item END -->
							</div>
						</div>
					</div>
					<!-- Newsletter START -->
					<div class="bg-light p-4 mt-4 rounded-3 text-center">
						<h4>Subscribe to our mailing list!</h4>
						<form>
							<div class="mb-3">
								<input type="email" class="form-control" placeholder="Email address">
							</div>
							<button type="submit" class="btn btn-primary">Subscribe</button>
							<div class="form-text">We don't spam</div>
						</form>
					</div>
					<!-- Newsletter END -->
				</div>
			</div>
			<!-- Sidebar 2 END -->
		</div> <!-- Row end -->
	</div>
</section>
<!-- =======================
Main content 2 END -->

<!-- =======================
Sticky post START -->
<div class="sticky-post bg-light border p-4 mb-5 text-sm-end rounded d-none d-xxl-block">
	<div class="d-flex align-items-center">
		<!-- Title -->
		<div class="me-3">
			<span>Trending post</span>
			<h6 class="m-0"> <a href="javascript:void(0)" class="stretched-link btn-link text-reset">Bad habits that people in the industry need to quit</a></h6>
		</div>
		<!-- image -->
		<div class="col-4 d-none d-md-block">
			<img src="assets/images/blog/4by3/05.jpg" alt="Image">
		</div>
	</div>
</div>
<!-- =======================
Sticky post END -->