<!-- =======================
Newsletter START -->
<section class="pb-0 pt-3 mt-1">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="bg-dark p-3 p-sm-4 rounded-3 position-relative overflow-hidden">
					<div class="row">
						<div class="col-md-8 col-lg-6 mx-auto text-center py-5 position-relative">
							<!-- Title -->
							<h2 class="display-6 text-white">Never miss a story!</h2>
							<p class="text-white">Get the freshest headlines and updates sent uninterrupted to your inbox.</p>
							<!-- Form -->
							<form class="row row-cols-sm-auto g-2 align-items-center justify-content-center mt-3">
								<div class="col-12">
							    <input type="email" class="form-control" placeholder="Enter your email address">
							  </div>
							  <div class="col-12">
							    <button type="submit" class="btn btn-primary m-0">Subscribe</button>
							  </div>
							  <div class="form-text text-white opacity-6 mt-2">By subscribing you agree to our 
							  	<a href="#" class="text-decoration-underline text-reset">Privacy Policy</a>
							  </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Newsletter END -->