

<!-- =======================
Featured video START -->
<section class="bg-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Title -->
				<div class="mb-4 d-sm-flex justify-content-between align-items-center">
					<h2 class="m-sm-0 text-white"><i class="bi bi-camera-video me-2"></i>Featured Video</h2>
					<a href="#" class="btn btn-sm bg-youtube"><i class="bi bi-youtube me-2 align-middle"></i>Subscribe us on YouTube</a>
				</div>
			</div>
			<!-- Card big START -->
			<div class="col-lg-6">
				<div class="card card-overlay-bottom card-fold h-400 h-lg-540" style="background-image:url(assets/images/blog/1by1/06.jpg); background-position: center left; background-size: cover;">
					<!-- Card featured -->
					<span class="card-featured" title="Featured post"><i class="fas fa-star"></i></span>
					<!-- Card Image overlay -->
					<div class="card-img-overlay d-flex flex-column p-3 p-sm-5">
						<!-- Card play button -->
						<div class="position-absolute top-50 start-50 translate-middle pb-5">
							<!-- Popup video -->
							<a href="https://youtu.be/n_Cn8eFo7u8" class="icon-lg bg-primary d-block text-white rounded-circle" data-glightbox data-gallery="y-video">
								<i class="bi bi-play-btn"></i>
							</a>
						</div>
						<!-- Card overlay Bottom  -->
						<div class="w-100 mt-auto">
							<div class="col text-center">
								<!-- Card category -->
								<a href="#" class="badge text-bg-warning mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Business</a>
								<!-- Card title -->
								<h2 class="text-white"><a href="post-single.html" class="btn-link text-reset fw-normal">Never underestimate the influence of social media</a></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card big END -->
			<!-- Card small START -->
			<div class="col-lg-3 mt-4 mt-lg-0">
				<!-- Card item START -->
				<div class="card bg-transparent overflow-hidden mb-4">
					<!-- Card img -->
					<div class="position-relative rounded-3 overflow-hidden">
						<!-- Video -->
						<div class="card-image">
							<div class="overflow-hidden w-100">
								<!-- HTML video START -->
								<div class="player-wrapper rounded-3 overflow-hidden">
										<div class="player-youtube" >
										<iframe src="https://www.youtube.com/embed/tXHviS-4ygo"></iframe>
									</div>
								</div>
								<!-- HTML video END -->
							</div>
						</div>
					</div>
					<div class="card-body px-0 pt-3">
						<h5 class="card-title"><a href="post-single.html" class="btn-link text-white fw-bold">Bad habits that people in the industry need to quit</a></h5>
						<!-- Card info -->
						<ul class="nav nav-divider align-items-center d-none d-sm-inline-block text-white-force small opacity-6">
							<li class="nav-item">
								<div class="nav-link">
									by <a href="#" class="text-reset btn-link">Bryan</a>
								</div>
							</li>
							<li class="nav-item">Jun 17, 2022</li>
						</ul>
					</div>
				</div>
				<!-- Card item END -->
				<!-- Card item START -->
				<div class="card bg-transparent overflow-hidden mb-4">
					<!-- Card img -->
					<div class="position-relative rounded-3 overflow-hidden card-fold">
						<img class="card-img" src="assets/images/blog/16by9/small/02.jpg" alt="Card image">
						<div class="card-img-overlay d-flex align-items-start flex-column p-3">
							<!-- Card overlay -->
							<div class="w-100 my-auto">
								<!-- Popup video -->
								<a href="https://youtu.be/n_Cn8eFo7u8" class="icon-md bg-primary d-block mx-auto text-white rounded-circle" data-glightbox data-gallery="y-video">
									<i class="bi bi-play-btn"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="card-body px-0 pt-3">
						<h5 class="card-title"><a href="post-single.html" class="btn-link text-white fw-bold">12 worst types of business accounts you follow on Twitter</a></h5>
						<!-- Card info -->
						<ul class="nav nav-divider align-items-center d-none d-sm-inline-block text-white-force small opacity-6">
							<li class="nav-item">
								<div class="nav-link">
									by <a href="#" class="text-reset btn-link">Samuel</a>
								</div>
							</li>
							<li class="nav-item">Jan 22, 2022</li>
						</ul>
					</div>
				</div>
				<!-- Card item END -->		
			</div>
			<div class="col-lg-3">
				<!-- Card item START -->
				<div class="card bg-transparent overflow-hidden mb-4">
					<!-- Card img -->
					<div class="position-relative rounded-3 overflow-hidden card-fold">
						<img class="card-img" src="assets/images/blog/16by9/small/03.jpg" alt="Card image">
						<div class="card-img-overlay d-flex align-items-start flex-column p-3">
							<!-- Card overlay -->
							<div class="w-100 my-auto">
								<!-- Popup video -->
								<a href="https://youtu.be/n_Cn8eFo7u8" class="icon-md bg-primary d-block mx-auto text-white rounded-circle" data-glightbox data-gallery="y-video">
									<i class="bi bi-play-btn"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="card-body px-0 pt-3">
						<h5 class="card-title"><a href="post-single.html" class="btn-link text-white fw-bold">Best Twitter accounts for learning about investment</a></h5>
						<!-- Card info -->
						<ul class="nav nav-divider align-items-center d-none d-sm-inline-block text-white-force small opacity-6">
							<li class="nav-item">
								<div class="nav-link">
									by <a href="#" class="text-reset btn-link">Joan</a>
								</div>
							</li>
							<li class="nav-item">Mar 24, 2022</li>
						</ul>
					</div>
				</div>
				<!-- Card item END -->
				<!-- Card item START -->
				<div class="card bg-transparent overflow-hidden mb-4">
					<!-- Card img -->
					<div class="position-relative rounded-3 overflow-hidden card-fold">
						<img class="card-img" src="assets/images/blog/16by9/small/04.jpg" alt="Card image">
						<div class="card-img-overlay d-flex align-items-start flex-column p-3">
							<!-- Card overlay -->
							<div class="w-100 my-auto">
								<!-- Popup video -->
								<a href="https://youtu.be/n_Cn8eFo7u8" class="icon-md bg-primary d-block mx-auto text-white rounded-circle" data-glightbox data-gallery="y-video">
									<i class="bi bi-play-btn"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="card-body px-0 pt-3">
						<h5 class="card-title"><a href="post-single.html" class="btn-link text-white fw-bold">Ten questions you should answer truthfully</a></h5>
						<!-- Card info -->
						<ul class="nav nav-divider align-items-center d-none d-sm-inline-block text-white-force small opacity-6">
							<li class="nav-item">
								<div class="nav-link">
									by <a href="#" class="text-reset btn-link">Judy</a>
								</div>
							</li>
							<li class="nav-item">Spe 07, 2022</li>
						</ul>
					</div>
				</div>
				<!-- Card item END -->		
			</div>
			<!-- Card small END -->
		</div>
	</div>
</section>
<!-- =======================
Featured video END -->