{% extends "index" %}


{% set pageTitle = entry.title %}
{% set pageDescription = entry.commonExcerpt %}

{% block content %}

<!-- =======================
Inner intro START -->
<section>
	<div class="container">
		<div class="row">
      <div class="col-md-9 mx-auto text-center">
        <h1 class="display-4">Contact us</h1>
        <!-- breadcrumb -->
        <nav class="d-flex justify-content-center" aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-dots mb-0">
            <li class="breadcrumb-item"><a href="{{ siteUrl }}"><i class="bi bi-house me-1"></i> Home</a></li>
            <li class="breadcrumb-item active">Contact us</li>
          </ol>
        </nav>      
      </div>
    </div>
	</div>
</section>
<!-- =======================
Inner intro END -->

<!-- =======================
Contact info START -->
<section class="pt-4">
	<div class="container">
		<div class="row">
      <div class="col-xl-9 mx-auto">
        <iframe class="w-100 h-300 grayscale" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.746233787087!2d-6.235951547942209!3d53.34779867988105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670f7808de0cf9%3A0xeb9e222e5606c852!2sRun%20Republic!5e0!3m2!1sen!2sie!4v1679860414875!5m2!1sen!2sie" height="500" style="border:0;" aria-hidden="false" tabindex="0"></iframe>	
        
        
        <div class="row mt-5">
          <div class="col-sm-6 mb-5 mb-sm-0">
            <h3>Advertise / Sponsorships</h3>
            <p>Contact us directly for any questions related to Advertising on Run Republic</p>
            <p>Call: <a href="tel:+353 (85) 155-3990" class="text-reset"><u>+353 (85) 155-3990 (Toll-free)</u></a></p>
            <p>Email: <a href="mailto:paddy@runrepublic.com" class="text-reset"><u>paddy@runrepublic.com</u></a></p>
          </div>
          <div class="col-sm-6">
            <h3>Contact Information </h3>
            <p>Get in touch with us to see how we can help you with your query</p>
            <p>Call: <a href="tel:+353 (89) 485-4795" class="text-reset"><u>+353 (89) 485-4795 (Toll-free)</u></a></p>
            <p>Email: <a href="mailto:info@runrepublic.com" class="text-reset"><u>info@runrepublic.com</u></a></p>
          </div>
        </div>
        
        <hr class="my-5">
        
        <div class="row">
          <div class="col-12">
          <h2>Contact us</h2>
          <p>Please fill in the form below and we will contact you very soon. Your email address will not be published.</p>
          <!-- Form START -->
          <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    region: "eu1",
    portalId: "25769310",
    formId: "879ba77f-963c-46e9-9c42-14bc8e99a57d"
  });
</script>
			  	<!-- Form END -->
          </div>
        </div>
      </div>  <!-- Col END -->
     </div>
  </div>
</section>
<!-- =======================
Contact info END -->






















{% endblock %}