<!-- =======================
Feature News slider START -->
<section class="py-0">
	<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="tiny-slider arrow-blur arrow-round rounded-3 overflow-hidden">
						<div class="tiny-slider-inner"
						data-autoplay="true"
						data-hoverpause="true"
						data-gutter="24"
						data-arrow="true"
						data-dots="false"
						data-items-xl="4"
						data-items-lg="3" 
						data-items-md="3" 
						data-items-sm="2" 
						data-items-xs="1">
						<!-- Card item START -->
						<div>
							<div class="card card-overlay-bottom card-img-scale">
								<!-- Card Image -->
								<img class="card-img" src="assets/images/blog/3by4/01.jpg" alt="">
								<!-- Card Image overlay -->
								<div class="card-img-overlay d-flex flex-column p-3 p-sm-4"> 
									<div>
										<!-- Card category -->
										<a href="#" class="badge text-bg-warning"><i class="fas fa-circle me-2 small fw-bold"></i>Technology</a>
									</div>
									<div class="w-100 mt-auto">
										
										<!-- Card title -->
										<h4 class="text-white"><a href="post-single-2.html" class="btn-link text-reset stretched-link">Best Pinterest boards for learning about business</a></h4>
										<!-- Card info -->
										<ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block small">
											<li class="nav-item position-relative">
												<div class="nav-link">by <a href="#" class="stretched-link text-reset btn-link">Bryan</a>
												</div>
											</li>
											<li class="nav-item">Aug 18, 2022</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- Card item END -->
						<!-- Card item START -->
						<div>
							<div class="card card-overlay-bottom card-img-scale">
								<!-- Card Image -->
								<img class="card-img" src="assets/images/blog/3by4/02.jpg" alt="">
								<!-- Card Image overlay -->
								<div class="card-img-overlay d-flex flex-column p-3 p-sm-4"> 
									<div>
										<!-- Card category -->
										<a href="#" class="badge text-bg-success mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Business</a>
									</div>
									<div class="w-100 mt-auto">
										<!-- Card title -->
										<h4 class="text-white"><a href="post-single-2.html" class="btn-link text-reset stretched-link">5 intermediate guide to business</a></h4>
										<!-- Card info -->
										<ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block small">
											<li class="nav-item position-relative">
												<div class="nav-link">by <a href="#" class="stretched-link text-reset btn-link">Joan</a>
												</div>
											</li>
											<li class="nav-item">Jun 03, 2022</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- Card item END -->
						<!-- Card item START -->
						<div>
							<div class="card card-overlay-bottom card-img-scale">
								<!-- Card Image -->
								<img class="card-img" src="assets/images/blog/3by4/03.jpg" alt="">
								<!-- Card Image overlay -->
								<div class="card-img-overlay d-flex flex-column p-3 p-sm-4">
										<div>
											<!-- Card category -->
											<a href="#" class="badge bg-dark mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Travel</a>
										</div>
									<div class="w-100 mt-auto">
										<!-- Card title -->
										<h4 class="text-white"><a href="post-single-2.html" class="btn-link text-reset stretched-link">5 investment doubts you should clarify</a></h4>
										<!-- Card info -->
										<ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block small">
											<li class="nav-item position-relative">
												<div class="nav-link">by <a href="#" class="stretched-link text-reset btn-link">Dennis</a>
												</div>
											</li>
											<li class="nav-item">Jan 28, 2022</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- Card item END -->
						<!-- Card item START -->
						<div>
							<div class="card card-overlay-bottom card-img-scale">
								<!-- Card Image -->
								<img class="card-img" src="assets/images/blog/3by4/04.jpg" alt="">
								<!-- Card Image overlay -->
								<div class="card-img-overlay d-flex flex-column p-3 p-sm-4">
									<div>
										<!-- Card category -->
										<a href="#" class="badge bg-primary mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Business</a>
									</div>
									<div class="w-100 mt-auto">
										<!-- Card title -->
										<h4 class="text-white"><a href="post-single-2.html" class="btn-link text-reset stretched-link">7 common mistakes everyone makes while traveling</a></h4>
										<!-- Card info -->
										<ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block small">
											<li class="nav-item position-relative">
												<div class="nav-link">by <a href="#" class="stretched-link text-reset btn-link">Bryan</a>
												</div>
											</li>
											<li class="nav-item">May 26, 2022</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- Card item END -->
						<!-- Card item START -->
						<div>
							<div class="card card-overlay-bottom card-img-scale">
								<!-- Card Image -->
								<img class="card-img" src="assets/images/blog/3by4/05.jpg" alt="">
								<!-- Card Image overlay -->
								<div class="card-img-overlay d-flex flex-column p-3 p-sm-4"> 
									<div>
										<!-- Card category -->
										<a href="#" class="badge text-bg-info mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Covid-19</a>
									</div>
									<div class="w-100 mt-auto">
										<!-- Card title -->
										<h4 class="text-white"><a href="post-single-2.html" class="btn-link text-reset stretched-link">Bad habits that people in the industry need to quit</a></h4>
										<!-- Card info -->
										<ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block small">
											<li class="nav-item position-relative">
												<div class="nav-link">by <a href="#" class="stretched-link text-reset btn-link">Billy</a>
												</div>
											</li>
											<li class="nav-item">Feb 22, 2022</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- Card item END -->
					</div>
					</div>
				</div>
			</div>
	</div>
</section>
<!-- =======================
Feature News slider END -->