<!-- =======================
Trending topics START -->
<section class="p-0">
	<div class="container">
		<div class="row g-0">
			<div class="col-12 bg-light p-2 p-sm-4 rounded-3">
				<!-- Title -->
				<div class="d-sm-flex justify-content-between align-items-center mb-4">
					<h2 class="m-0">Trending topics</h2>
					<a href="#" class="text-body text-primary-hover"><u>View all categories</u></a>
				</div>
				<!-- Slider -->
				<div class="tiny-slider arrow-hover arrow-dark arrow-blur arrow-round">
					<div class="tiny-slider-inner"
					data-autoplay="false"
					data-hoverpause="true"
					data-gutter="24"
					data-arrow="true"
					data-dots="false"
					data-items-xl="5" 
					data-items-lg="4" 
					data-items-md="3" 
					data-items-sm="2" 
					data-items-xs="2"
					>
						<!-- Category item -->
						<div>
							<div class="card card-overlay-bottom card-img-scale">
								<img class="card-img" src="assets/images/blog/1by1/thumb/01.jpg" alt="card image">
								<div class="card-img-overlay d-flex px-3 px-sm-5">
									<h5 class="mt-auto mx-auto">
										<a href="#" class="stretched-link btn-link fw-bold text-white">Travel</a>
									</h5>
								</div>
							</div>
						</div>
						<!-- Category item -->
						<div>
							<div class="card card-overlay-bottom card-img-scale">
								<img class="card-img" src="assets/images/blog/1by1/thumb/02.jpg" alt="card image">
								<div class="card-img-overlay d-flex px-3 px-sm-5">
									<h5 class="mt-auto mx-auto">
										<a href="#" class="stretched-link btn-link fw-bold text-white">Business</a>
									</h5>
								</div>
							</div>
						</div>
						<!-- Category item -->
						<div>
							<div class="card card-overlay-bottom card-img-scale">
								<img class="card-img" src="assets/images/blog/1by1/thumb/03.jpg" alt="card image">
								<div class="card-img-overlay d-flex px-3 px-sm-5">
									<h5 class="mt-auto mx-auto">
										<a href="#" class="stretched-link btn-link fw-bold text-white">Marketing</a>
									</h5>
								</div>
							</div>
						</div>
						<!-- Category item -->
						<div>
							<div class="card card-overlay-bottom card-img-scale">
								<img class="card-img" src="assets/images/blog/1by1/thumb/04.jpg" alt="card image">
								<div class="card-img-overlay d-flex px-3 px-sm-5">
									<h5 class="mt-auto mx-auto">
										<a href="#" class="stretched-link btn-link fw-bold text-white">Photography</a>
									</h5>
								</div>
							</div>
						</div>
						<!-- Category item -->
						<div>
							<div class="card card-overlay-bottom card-img-scale">
								<img class="card-img" src="assets/images/blog/1by1/thumb/05.jpg" alt="card image">
								<div class="card-img-overlay d-flex px-3 px-sm-5">
									<h5 class="mt-auto mx-auto">
									<a href="#" class="stretched-link btn-link fw-bold text-white">Sports</a>
									</h5>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- Slider END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
Trending topics END -->