<section class="pt-4">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Title -->
				<div class="mb-4">
					<h2 class="m-0">X Country</h2>
					<p class="m-0">Running with an X Factor</p>
				</div>
                <div class="media-scroller3 snaps-inline">
                {% set blogs = craft.entries.section('blog').all() %}
                {% for blog in blogs %} 
                {% set photo = blog.featuredImage.one() %}
                    <div>
							<a href="{{ blog.url }}" class="cta-link">
						<div>
							<div class="card bg-transparent">
								<img class="card-img" src="{{ blog.featuredImage.one().getUrl('catMini') }}" alt="card image">
								<div class="card-body ps-0">
									<h5 class="mb-0">{{ blog.title }}</h5>
								</div>
							</div>
						</div>
						</a>
						</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


